.App {
    text-align: center;
}

.App-header {
    background-color: #00b4d5;
    /*height: 150px;*/
    /*padding: 20px;*/
    /*color: white;*/
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

body {
    background-color: #E5F3F5;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
}
