.block-ui {
    position: inherit;
    min-height: 3em;
}

.block-ui-overlay {
    width: 100%;
    height: 100%;
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50);*/
    /*background-color: black;*/
}

.loading-bullet {
    display: inline-block;
    /*opacity: 0;*/
    font-size: 2em;
    color: #4cc3c0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.error-logo {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.error-message {
    position: absolute;
    top: 25%;
    left: 50%;
}

